
@{
    ViewBag.Title = "Bills ";
}
<nav class="navbar  navbar-dark bg-dark">
    @if (ViewBag.bussinesType == projectMVC.enums.BussinessType.Coffie)
    {
        <a class="navbar-brand text-light" href="@Url.Action("index","AdminCoffie")"> Back to Dash Bord </a>

    }
    else
    {
        <a class="navbar-brand text-light" href="@Url.Action("index","AdminWorkSpace")"> Back to Dash Bord </a>

    }

</nav>




@foreach (var item in ViewBag.dates)
{
    var day = item.ToString().Split(' ');
    <div class="card m-3 " style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title"> All Bill In Day @day[0]  </h5>



            <a href="@Url.Action("GetBill","Bill",new {date =item })" class="card-link text-capitalize"> Show Bill </a>
        </div>
    </div>
}
